################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarParking/bin/Debug
/CarParking/obj/Debug
